<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TEOALI</title>
    <meta name="description" content="Creating a Employee table with Twitter Bootstrap. Learn with example of a Employee Table with Twitter Bootstrap.">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        #preview {
            max-width: 400px;
            max-height: 400px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default" style="font-weight: 500">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TEOALI</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 4%;">
    <form th:object="${report}" th:action="@{/generate-joy}" method="post" enctype="multipart/form-data">
        <div style="text-align: -webkit-center">
            <h2>Meu Boletim</h2>
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <input type="text" id="name" name="name" required class="form-control" placeholder="Digite o nome do Auluno" style="width: 40%">
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <input type="text" id="nickname" name="nickname" required class="form-control" placeholder="Digite o Apelido" style="width: 40%">
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <input type="text" id="schoolName" name="schoolName" required class="form-control" placeholder="Digite o nome da Escola" style="width: 40%">
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <label for="file">Escolha aqui a imagem do seu pet:</label>
            <input type="file" id="file" name="file" accept="image/*" onchange="previewImage(event)" required />
        </div>
        <br/>
        <div id="imagePreview" style="display: none;">
            <p>Prévia da imagem:</p>
            <img id="preview" src="" alt="Prévia da imagem" />
        </div>
        <div style="text-align: -webkit-center">
            <button type="submit" class="btn btn-primary">Próximo</button>
        </div>
        <br/>
    </form>
</div>

</body>

<script>
    function previewImage(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('preview');
        const imagePreview = document.getElementById('imagePreview');

        if (file && file.type.startsWith("image/")) {
            const reader = new FileReader();

            reader.onload = function(e) {
                preview.src = e.target.result;
                imagePreview.style.display = 'block'; // Mostrar a prévia
            };

            reader.readAsDataURL(file);
        } else {
            alert("Por favor, escolha um arquivo de imagem.");
        }
    }
</script>
</html>