<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TEOALI</title>
    <meta name="description" content="Creating a Employee table with Twitter Bootstrap. Learn with example of a Employee Table with Twitter Bootstrap.">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<nav class="navbar navbar-default" style="font-weight: 500">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TEOALI</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 4%;">
    <form th:object="${report}" th:action="@{/generate}" method="post">
        <div style="text-align: -webkit-center">
            <h2>Meu Boletim</h2>
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <input type="text" id="name" name="name" required class="form-control" placeholder="Digite o nome do aluno" style="width: 40%">
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <input type="text" id="serie" name="serie" required class="form-control" placeholder="Digite a série do aluno" style="width: 40%">
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <input type="text" id="schoolName" name="schoolName" required class="form-control" placeholder="Digite o nome da escola" style="width: 40%">
        </div>
        <br/>
        <div style="text-align: -webkit-center">
            <button type="submit" class="btn btn-primary">Próximo</button>
        </div>
        <br/>
    </form>
</div>

</body>
</html>